.p-style {
     margin: inherit;
 }

.img {
    margin: inherit;
}


.manual-ad {
    height: 250px;
    background-color: #00b900;
    vertical-align: middle;
    text-align: center;
    font-size: 35px;
    display: block;
    line-height: 250px;
}

.h1 {
    text-align: center;
    background: lightgreen;
    border-style: solid;
    border-width: 2px;
}

.main-container{
    margin: 10px 10px 10px 10px;
}

.colored {
    color: #00b900;
}